<mat-toolbar class="toolbarCss">
  <button mat-button class="color">
    <img style="width: 20px" src="../../assets/apple-32.gif">
  </button>
  <div *ngIf="searchInput" class="searchInputDiv">
    <input class="searchInput color" type="text" placeholder="Search" [(ngModel)]="search">
  </div>
  <div *ngIf="!searchInput">
    <button mat-button class="color">Mac</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">iPad</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">iPhone</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">Watch</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">TV</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">Music</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">Support</button>
    <span class="example-spacer"></span>
  </div>
  <button mat-button class="color" *ngIf="!searchInput" (click)="searchInputClick()">
    <img style="width: 20px" src="../../assets/search-12-32.gif">
  </button>
  <button mat-button class="color" *ngIf="searchInput" (click)="closeSearchClick()">
    <img style="width: 20px" src="../../assets/x-mark-32.gif">
  </button>
</mat-toolbar>
<mat-toolbar *ngIf="searchInput" class="backgroundSearch"></mat-toolbar>
