<mat-toolbar style="background-color:rgba(0, 0, 0, 0.8);height: 40px;">
  <button mat-button class="color">
    <img style="width: 20px" src="../../assets/apple-32.gif">
  </button>
  <span class="example-spacer"></span>
  <mat-form-field id="search" class="example-full-width">
    <input matInput id="search-input" type="search" placeholder="Search" ngModel="search">
  </mat-form-field>
  <span class="example-spacer"></span>
  <!-- <div id="doNotSearch"> -->
    <button mat-button class="color">Mac</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">iPad</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">iPhone</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">Watch</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">TV</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">Music</button>
    <span class="example-spacer"></span>
    <button mat-button class="color">Support</button>
    <span class="example-spacer"></span>
  <!-- </div> -->
  <button mat-button class="color" id="searchToggle">
    <img id="searchToggle" style="width: 20px" src="../../assets/search-12-32.gif">
  </button>
</mat-toolbar>
